.message__wrapper {
  display: flex;
  margin-bottom: 0.5rem;
  min-width: 200px;
}
.activity__message__wrapper {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}
.channel__message__wrapper {
  margin-bottom: 0.5rem;
}
.message__block {
  display: flex;
  align-items: center;
  flex: 1;
}
.activity__message__block {
  flex: 1;
  margin-left: 1rem;
  background-color: #f4f4f4;
  padding: 0.3rem;
}
.user__profile {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: contain;
  margin-right: 0.5rem;
}

.left {
  justify-self: flex-end;
}
.right {
  flex-direction: row-reverse;
}
.message__div {
  color: whitesmoke;
}

.user {
  background-color: wheat;
}

.mymessage {
  background-color: #e2e2f0df;
}
.message__main {
  max-width: 90%;
  padding: 0.1rem 0.4rem;
}
.channel_message_main {
  border-bottom: 1px solid #edebe9;
  border-radius: 0.3rem 0.3rem 0 0;
  flex: 1;
  min-width: 300px;
  width: 80%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
}
.channel_message_main > div {
  padding: 0rem 1rem;
}
.channel__message__foot {
  background: #fafafa;
  border: 0.1rem solid #edebe9;
  border-top: 0;
  border-radius: 0 0 0.3rem 0.3rem;
  font-size: 0.6rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
}
.channel__message__foot:hover {
  color: rgba(0, 89, 255, 0.698);
}
.channel__message__foot > svg {
  margin: 0 0.2rem 0 1rem;
}
.message__head {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
}
