.full_width {
  margin: 0rem !important;
  margin-top: 4rem !important;
}
@media (min-width: 750px) {
  .full_width {
    padding: 0rem !important;
  }
}

.carousel-root {
  width: 80vw !important;
}
