.main__dash {
  background-color: #fff !important;
  padding: 0rem 0rem 0rem 3rem !important;
  height: 94vh !important;
  display: grid;
  place-items: center;
}
.main__dash img {
  min-width: 300px !important;
  width: 80% !important;
  max-width: 600px;
  height: 400px;
  object-fit: contain;
  object-position: center;
}
