.dashboard_main_area {
  background-color: #fff !important;
  height: 95vh;
  margin-left: 1.5rem !important;
  position: relative;
}
.dark {
  background-color: #161d29 !important;
  overflow: hidden;
  padding: 0rem 0rem 1.5rem 1.5rem !important;
}

.root {
  max-height: 100vh;
  overflow: hidden;
}
