.chatbar__head {
  padding: 0.9rem;
  display: flex;
}
.chatbar__head > svg {
  margin-right: 0.5rem;
}
.chattiles__area {
  flex-grow: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.chatbar {
  display: flex;
  flex-direction: column;
}
.chat__tile {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.45rem 1rem;
  transition: all 0.25s ease-in-out;
  margin-bottom: 0.5rem;
}
.chattile__content {
  flex-grow: 1;
}

.chat__tile:hover {
  background-color: #fff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chattiles__area::-webkit-scrollbar {
  display: none;
  width: 0px;
}
.tiles__empty_state {
  display: grid;
  height: 100%;
  place-items: center;
}
.tiles__empty_state > div {
  padding: 1rem 0.5rem;
}
.white {
  background-color: white;
}
