.video__controls {
  background-color: #2d2d2d;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  cursor: pointer;
  width: 300px;
}
@media (max-width: 900px) {
  .video__controls {
    margin-bottom: 1rem;
  }
}
.end__call {
  background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
}

.video__controls > div {
  display: grid;
  place-items: center;
  padding: 0.9rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media (max-width: 700px) {
  .video__controls > div {
    padding: 0.45rem;
  }
}
