.auth__image {
  width: 100%;
  height: 100%;
  height: 89vh;
  object-fit: contain;
}
.auth__grid {
  align-items: center;
}
.redirect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
