.chatbox {
  background-color: #f3f2f1;
  height: 94vh !important;
}
.meetgrid {
  min-height: 94vh;
  padding: 0rem !important;
  margin: 0rem !important;
}
.meet__row {
  min-height: 94vh !important;
  position: relative;
  margin: 0rem !important;
}

.video__grid {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
.video__row {
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0rem !important;
}
.video__col {
  padding: 0.5rem !important;
}
.user__tile {
  width: 100%;
  background-color: #161616;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  z-index: 100000;
  height: 400px;
}
.user__avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  object-fit: contain;
  background-color: white;
}
.videocontrols__wrapper {
  display: grid;
  place-items: center;
}
.menu-wrapper {
  width: 100%;
}

.videoplayer {
  border-radius: 0.5rem;
  height: 400px;
  width: 100%;
  object-fit: cover;
  /* transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
   -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
}
