.dark {
  background-color: #35373a !important;
  overflow: hidden;
  padding: 0rem 0rem 1.5rem 1.5rem !important;
}
.chatbox {
  background-color: #f3f2f1;
  height: 94vh !important;
}
.meetgrid {
  min-height: 94vh;
  padding: 0rem !important;
  margin: 0rem !important;
}
.meet__row {
  height: 94vh !important;
}
.video__grid {
  min-height: 94vh !important;
  max-height: 100vh !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.video__row {
  min-height: 94vh;
  align-items: center;
  justify-content: center;
}
.video__col {
  padding: 0.5rem !important;
}
.videoplayer {
  min-height: 320px;
  border-radius: 0.5rem;
  margin: 0.5rem;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
